{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "targets": {
                    "browsers": "ie >= 8"
                }
            }
        ]
    ]
}
